.input_control.success input {
    border-color: #09c372;
}

.input_control.error input {
    border-color: #ff3860;
}

.input_control .error {
    color: #ff3860;
    font-size: 9px;
    height: 14px;
}